.navbar-wrapper {
    width: 100vw;
    // background: var(--secondary-background-color);
}

nav {
    display: flex;
    position: relative;
    padding: var(--medium-space);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--primary-border);
    background: var(--secondary-background-color);
}

nav .brand-icon {
    margin-left: var(--medium-space);
}

nav .brand-icon svg {
    height: 35px;
    fill: var(--primary-text-color);
}

.profile-icon {
    --size: 40px;
    height: var(--size);
    width: var(--size);
    border: var(--primary-border);
    border-radius: var(--size);
    background-image: url(https://ui-avatars.com/api/?name=Libby+Lebyane&rounded=true&background=000000&color=ffffff&bold=true&format=svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

nav.reader-mode {
    position: relative;
}

nav.reader-mode .current-document-details {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}