<div class="navbar-wrapper">
  <!-- Navigation bar to be shown when in reader mode. -->
  <section class="normal-navbar">
    <nav>
      <div class="brand-icon">
        <app-brand-icon></app-brand-icon>
      </div>

      <div class="button-group">
        <div class="button transparent search">
          <div class="icon">
            <ion-icon name="search-outline"></ion-icon>
          </div>
        </div>
        <div class="button transparent">
          <div class="icon">
            <div class="profile-icon"></div>
          </div>
        </div>
      </div>
    </nav>
  </section>
</div>