.viewer-controller-container {
    --controller-height: 60px;
    display: flex;
    align-items: center;
    height: var(--controller-height);
    width: 100vw;
    background: var(--primary-background-color);
    border-bottom: var(--secondary-border);
    border-color: var(--secondary-background-color);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

.controls-group {
    display: flex;
    align-items: center;

}

// CONTROL BUTTONS
.control-button {
    display: grid;
    height: var(--controller-height);
    width: var(--controller-height);
    place-items: center;
    cursor: pointer;

    &.brand-back-button {
        border-right: var(--primary-border);
        border-color: var(--secondary-background-color);
    }

    &.zoom-control {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--small-space);
        width: 100px;
        margin-left: var(--medium-space);
    }

    svg {
        height: 35px;
        fill: var(--primary-text-color);
    }

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}


.input-control {
    display: flex;
    align-items: center;

    .text {
        margin-right: var(--small-space);
    }
    
    input {
        appearance: none;
        width: 45px;
        height: 30px;
        border-radius: var(--border-radius);
        border: var(--primary-border);
        text-align: center;
    }
}

.space {
    flex: 1;
}