<div class="viewer-controller-container">
  <div class="controls-group nav-controls">
    <!-- BACK BUTTON -->
    <div class="control-button brand-back-button" title="Go back to files.">
      <svg viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-1-inside-1_2_25" fill="white">
          <path d="M4 2H2V5H4V7H0V0H4V2ZM6 5H4V2H6V5Z"/>
        </mask>
        <path d="M2 2V1H1V2H2ZM2 5H1V6H2V5ZM4 7V8H5V7H4ZM0 7H-1V8H0V7ZM0 0V-1H-1V0H0ZM4 0H5V-1H4V0ZM6 5V6H7V5H6ZM6 2H7V1H6V2ZM4 2V1H2V2V3H4V2ZM2 2H1V5H2H3V2H2ZM2 5V6H4V5V4H2V5ZM4 5H3V7H4H5V5H4ZM4 7V6H0V7V8H4V7ZM0 7H1V0H0H-1V7H0ZM0 0V1H4V0V-1H0V0ZM4 0H3V2H4H5V0H4ZM6 5V4H4V5V6H6V5ZM4 5H5V2H4H3V5H4ZM4 2V3H6V2V1H4V2ZM6 2H5V5H6H7V2H6Z" mask="url(#path-1-inside-1_2_25)"/>
      </svg>
    </div>
  </div>

  <!-- <div class="controls-group">
    <div class="control-button">
      <ion-icon name="brush-sharp"></ion-icon>
    </div>
  </div> -->

  <div class="controls-group playback-controls">
    <div class="control-button" title="Fast-track backward." (click)="this.audio.previousSource()">
      <ion-icon name="play-back-sharp"></ion-icon>
    </div>

    <div class="control-button" title="Pause playback." (click)="this.audio.audioChannel.paused ? this.audio.play() : this.audio.pause()">
      <ion-icon [name]="this.audio.audioChannel.paused ? 'play-sharp' : 'pause-sharp'"></ion-icon>
    </div>

    <div class="control-button" title="Fast-track forward." (click)="this.audio.nextSource()">
      <ion-icon name="play-forward-sharp"></ion-icon>
    </div>
  </div>

  <div class="space"></div>

  <div class="controls-group">
    <div class="input-control">
      <div class="text"></div>
      <input type="text" [value]="this.audio.currentPage">
    </div>
    
    <div class="control-button zoom-control">
      <span class="text">{{this.audio.totalPages}}</span>
      <ion-icon name="chevron-down-sharp"></ion-icon>
    </div>
  </div>
</div>