/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
    font-family: "Matter";
    src: url("/assets/fonts/matter-medium.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Matter";
    src: url("/assets/fonts/matter-semi-bold.woff2") format("woff2");
    font-weight: bold;
}

* {
    // COLORS
    --primary-theme-color: rgb(0, 0, 0);
    --secondary-theme-color: rgb(255, 81, 0);
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(221, 221, 221);
    --tertiary-text-color: rgba(255, 255, 255, 0.1);
    --primary-background-color: rgb(15, 15, 15);
    --secondary-background-color: rgb(51, 51, 51);


    // SHAPES
    --xlarge-space: 30px;
    --large-space: 20px;
    --medium-space: 10px;
    --small-space: 5px;
    --primary-border: .1px solid var(--tertiary-text-color);
    --secondary-border: 2px solid var(--tertiary-text-color);
    --border-radius: 3px;
    --button-scale-factor: 1.015;

    // TYPOGRAPHY
    --font-family: "Matter";
    --primary-font-size: 1rem;
    --header-font-size: 1.8rem;
}

/* Default resets */
* {
    font-family: var(--font-family) !important;
    font-weight: 600;
    color: var(--primary-text-color);
    box-sizing: border-box !important;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 900;
}

.page-wrapper {
  padding: var(--large-space);
}

/* Ionic adjustments */
ion-icon {
    --ionicon-stroke-width: 45px;
    background: transparent;
    font-size: 1.5rem;
    padding: 0;
}

/* Buttons */
.button,
.button-group,
.button-toggle {
    display: flex;

    &.disabled {
        opacity: .5 !important;
    }
}

.button-group,
.button-toggle {
    align-items: center;
}

.button-group {
    gap: var(--medium-space) !important;
}

.button-toggle {
    padding: var(--small-space);
    background: transparent !important;
    border: var(--secondary-border);
    border-color: var(--secondary-theme-color);
    gap: var(--medium-space) !important;
    height: fit-content;
}

.button-toggle .button {
    background: transparent;
    padding: 0;
}

.button-toggle .button {
    height: 28px;
    width: 28px;
    position: relative;
    --translate: 2px;
    transform: translateX(var(--translate)) translateY(var(--translate));

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: -2px;
        top: -2px;
        background: var(--secondary-theme-color);
        opacity: 0;
        border-radius: var(--border-radius);
        z-index: -1;
    }

    &:hover {
        transform: translateX(var(--translate)) translateY(var(--translate)) scale(1.01);
        background: transparent;

        &::before {
            opacity: 1 !important;
        }
    }

    .text {
        color: var(--primary-text-color) !important;
    }
}

.button-toggle .button[data-active="true"] {
    &::before {
        opacity: .5;
    }
}

.button,
.button-toggle {
    background: var(--secondary-theme-color);
    padding: var(--small-space) var(--medium-space);
    cursor: pointer;
    border-radius: var(--border-radius);
    gap: var(--medium-space);
    opacity: .9;

    * {
        color: var(--primary-text-color) !important;
    }
}

.button:hover,
.button-toggle:hover {
    opacity: 1;
    transform: scale(1.01);
    background: var(--secondary-theme-color);
}

.button:hover svg,
.button-toggle:hover svg {
    stroke: var(--secondary-theme-color);
}

.button[data-disabled="true"] {
    opacity: .5;
}

.button .text {
    transform: translateY(3px);
    font-weight: bolder;
}

.button.transparent .text {
    color: var(--primary-text-color);
}

.button svg {
    fill: var(--primary-background-color);
    stroke: var(--secondary-theme-color);
    stroke-width: 2px;
}

.button.transparent {
    background: transparent !important;
}

.button.transparent svg {
    fill: var(--primary-background-color) !important;
    stroke: var(--primary-text-color);
}


// Inputs
input[type="range"] {
    appearance: none;
    background: linear-gradient(to right, var(--secondary-theme-color) 0%, var(--secondary-theme-color) var(--progress), #ccc var(--progress), #ccc 100%);
    border-radius: var(--border-radius);
    cursor: pointer;

    &::-webkit-slider-runnable-track {
        appearance: none;
        background: var(--secondary-background-color);
        opacity: .5;
        border-radius: var(--border-radius);
    }

    &::-webkit-slider-thumb {
        appearance: none;
        background-color: transparent;
        height: 10px;
        width: 10px;
    }
}


// Background overlay for modals
.background-overlay {
    display: block;
    height: 100vh;
    width: 100vw;
    background: var(--secondary-background-color);
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 0;
    transition: opacity 500ms ease-in-out;
    pointer-events: none;

    &[data-visible="true"] {
        opacity: 0.75;
        pointer-events: all;
    }
}

// CUSTOMIZING TEXT LAYER
.custom-text-layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


// ANNOTATIONS
.custom-annotation {
    position: absolute;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    background: transparent;
    cursor: pointer;
}

.custom-annotation.noted {
    background: rgba(255, 255, 0, .5);
}

.custom-annotation.hover {
    background: rgba(65, 105, 255, .5) !important;
}

.custom-annotation.reader {
    background: rgba(255, 81, 0, .5) !important;
}


// MODALS
.default-modal {
 --box-shadow: 1px 1px 10px 8px rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
    * {
        --ion-background-color: rgb(17, 17, 17);
    }
}

@media (prefers-color-scheme: light) {
    * {
        --ion-background-color: rgb(17, 17, 17);
    }
}