<div class="page-container">
    <div class="alert-bar"></div>
    <app-header></app-header>

    <div class="page-wrapper">
        <div class="document-list-header">
            <div class="button" (click)="this.isCreateFolder = !this.isCreateFolder"  *ngIf="this.current_folder_id === 'default'">
                <div class="icon">
                    <ion-icon [name]="!this.isCreateFolder ? 'folder-open-outline' : 'close-outline'"></ion-icon>
                </div>
                <div class="text">{{ !this.isCreateFolder ? "Add empty folder" : "Cancel add folder" }}</div>
            </div>

            <div class="button" (click)="this.goToDefaultFolder()" *ngIf="this.current_folder_id !== 'default'">
                <div class="icon">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </div>
                <div class="text">Go back to home</div>
            </div>

            <div class="button-group">
                <div class="button icon" (click)="this.openUploadModal()">
                    <div class="icon">
                        <ion-icon name="cloud-upload-outline"></ion-icon>
                    </div>
                    <div class="text">Upload a document</div>
                </div>
                
                <div class="button-toggle">
                    <div class="button icon toggle" data-active="true">
                        <div class="icon">
                            <ion-icon name="grid-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="button icon toggle">
                        <div class="icon">
                            <ion-icon name="list-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="documents-folders-scroll-wrapper">
            <!-- Listed document items that have been uploaded. -->
            <h2 *ngIf="(this.folders?.length && this.current_folder_id === 'default') || this.isCreateFolder">Your folders</h2>
            <div class="document-list folders-list"  *ngIf="(this.folders?.length && this.current_folder_id === 'default') || this.isCreateFolder">
                <div class="document-item folder" *ngIf="this.isCreateFolder">
                    <div class="thumbnail-container">
                        <div class="thumbnail-icon">
                            <ion-icon name="folder-open-outline"></ion-icon>
                        </div>

                        <div class="document-buttons button-group" (click)="this.createNewFolder()">
                            <div class="button">
                                <div class="icon">
                                    <ion-icon name="checkmark-outline"></ion-icon>
                                </div>
                                <div class="text">Create folder</div>
                            </div>
                        </div>
                    </div>
                    <div class="details-container">
                        <span
                            class="name-container" #DocumentAncor> <input type="text" placeholder="Enter folder name" (keyup)="this.folderName = FolderName.value" #FolderName> </span>
                        <span class="description">___ File(s) (___ kb)</span>
                    </div>
                </div>
                
                <div class="document-item folder" *ngFor="let folder of this.folders">
                    <div class="thumbnail-container">
                        <div class="document-buttons button-group">
                            <div class="button" (click)="this.deleteFolder(folder.id)">
                                <div class="icon">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </div>
                            </div>
                        </div>

                        <div class="thumbnail-icon">
                            <ion-icon name="folder-open-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="details-container">
                        <span (click)="this.openFolder(folder.id)"
                            class="name-container" #DocumentAncor>{{folder.name}}</span>
                        <span class="description">{{folder.file_count}} {{folder.file_count > 1 ? "Files" : "File"}} ({{folder.size / (1024*1024) > 1 ? (folder.size / (1024*1024)).toFixed(2) : folder.size}} {{folder.size / (1024*1024) > 1 ? "MB" : folder.size_unit}})</span>
                    </div>
                </div>
            </div>
            
            <h2>{{ this.current_folder_id === "default" ? "General documents" : this.current_folder?.name }}</h2>
            <div class="document-list" *ngIf="documents?.length">
                <div class="document-item document" *ngFor="let doc of this.documents">
                    <div class="thumbnail-container" [style.background-image]="'url('+ doc.thumbnail +')'">
                        <div class="document-buttons button-group">
                            <div class="button" (click)="this.deleteDocument(doc.id)">
                                <div class="icon">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </div>
                            </div>

                            <div class="button" (click)="this.favouriteDocument(doc.id)">
                                <div class="icon">
                                    <ion-icon [name]="doc.is_favourite ? 'star' : 'star-outline'"></ion-icon>
                                </div>
                            </div>
                        </div>
                        <div class="thumbnail-icon">
                            <ion-icon name="newspaper-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="details-container">
                        <span (click)="this.openDocument(doc.id)"
                            class="name-container" #DocumentAncor>{{doc.name}}</span>
                        <span class="description">{{doc.page_count}} Pages ({{doc.size / (1024*1024) > 1 ? (doc.size / (1024*1024)).toFixed(2) : doc.size}} {{doc.size / (1024*1024) > 1 ? "MB" : doc.size_unit}})</span>
                    </div>
                </div>
            </div>

            <div class="no-documents-message" *ngIf="!this.documents?.length && !this.folders?.length">
                <ion-icon name="alert-outline"></ion-icon>
                <h5>No Documents yet</h5>
                <span>Seems you're out of documents to listen to. Upload to view and listen to them.</span>
            </div>
        </div>
    </div>
</div>
